 <!-- Dibuat oleh khansa -->
 <!-- Membuat bagian footer -->

<Footer class = "footer">
    <p><span>Traveling is about finding new places, new lives, and new souls.</span></p>

    <!-- &copy;: Simbol hak cipta (©).
    Kode ini akan dieksekusi di server-side dan menghasilkan tahun saat ini -->
    &copy; <%= new Date().getFullYear(); %> Kelompok 6 - TravelPedia

</Footer>