<!-- Dibuat oleh Khansa -->
<!-- Membuat tampilan website bagian Contact Page -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
        <!-- Container -->
        <div class="container">
            <div class="row justify-content-center">

                <!-- Left Column -->
                <div class="col-lg-6 left-column">
                    
                    <!-- Contact Form Title -->
                    <div class="tittle-container text-center">
                        <h2 class="tittle">Get in Touch</h2> <br>
                        <h4 class="subtitle">Share Your Travel Experiences</h4>
                    </div>
                     
                    <!-- Form -->
                    <form class="contact-form">

                            <!-- Name -->
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Your Name</label>
                                <div class="col-lg-8">
                                    <input type="text" id="name" placeholder="Full name">

                                </div>
                            </div>

                            <!-- Email -->
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Email Address</label>
                                <div class="col-lg-8">
                                    <input type="email" id="email" placeholder="Email">

                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Subject</label>
                                <div class="col-lg-8">
                                    <input type="subject" id="subject" placeholder="Subject">
                                </div>
                            <!-- Message -->
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Message</label>
                                <div class="col-lg-8">
                                    <textarea id="message" placeholder="Message" cols="30" rows="10"></textarea>
                                </div>
                                    
                            </div>
			        <!-- submit Button -->
                            <div class="text-right">
                                <input type="submit" class="submit" value="Send Message">
                            </div>

                    </form>
                </div>
                <br>
                <!-- End Left Coloumn -->
                
                <!-- Right Column -->
                <div class="col-lg-4 right-column">
                    
                    <!-- Company Info -->
                    <div class="contact-info">
                    <h3>Contact Info</h3>
                        <p><i class="fas fa-map-marker-alt"></i>&nbsp; Universitas Tarumanagara</p>
                        <p><i class="fas fa-phone-alt"></i>&nbsp; +62 1234 45678</p>
                        <p><i class="fas fa-envelope"></i>&nbsp; Kelompok6@gmail.com</p>
                    </div>
                    
                    <!-- Social Icons -->
                    <div class="social">
                        <div class="text-center center-block">
                            <a href="#"><i class="icon fab fa-facebook-f"></i></a>
                            <a href="#"><i class="icon fab fa-twitter"></i></i></a>
                            <a href="#"><i class="icon fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Right Column -->
            </div>
        </div>
        <script src="/js/app.js"></script>
</body> 
