<!-- Dibuat oleh Aliyah -->
<!-- Membuat tampilan website bagian home -->

<link rel="stylesheet" href="css/home.css">

<div class="layar-penuh">
  <div class="page">
    <video autoplay muted loop>
        <source src="img/indonesia.mp4" type="video/mp4" />
    </video>
  <div class="intro">
      <h3>WELCOME TO TRAVELPEDIA</h3>
      <p>
          "TravelPedia, sebuah blog wisata penuh inspirasi, mengajak Anda menjelajahi keindahan destinasi di Indonesia melalui panduan perjalanan, cerita petualangan, dan tips eksklusif."
      </p>
      <p>
          <a href="#aboutus" class="tombol">MORE INFO</a>
      </p>
  </div>
</div>
  <!-- <main> -->
      <section id="aboutus">
        <div class="layar-dalam">
          <h3>About Us</h3>
          <p class="ringkasan">
            Jelajahi keindahan Indonesia dengan TRAVELPEDIA! Temukan inspirasi perjalanan melalui blog kami yang penuh cerita seru dan tips wisata. Ayo, wujudkan petualangan tak terlupakanmu bersama kami!
          </p>
          <div class="konten-isi">
            <p>
              TravelPedia adalah web yang menyajikan blog berkualitas tinggi tentang destinasi wisata di Indonesia. Temukan panduan perjalanan, cerita petualangan, dan tips eksklusif untuk memaksimalkan pengalaman liburan Anda. Jelajahi kekayaan alam, budaya, dan kuliner Indonesia melalui sudut pandang unik para penulis TravelPedia. Bergabunglah dengan komunitas kami dan raih inspirasi untuk petualangan selanjutnya!
            </p>
          </div>
        </div>
      </section>

      <section id="team">
        <div class="layar-dalam">
          <h3>Our Team</h3>
          <p class="ringkasan">
            Kami adalah tim yang dinamis dan profesional dengan keahlian yang beragam untuk memberikan hasil terbaik.
          </p>
          <br>
          <div class="tim">
            <div>
              <img src="img/aliyah.jpg" />
              <h6>Aliyah Zahrah</h6>
              <span>535220243</span>
            </div>
            <div>
              <img src="img/NAPNAP.jpg" />
              <h6>Nafisya sefa n.v</h6>
              <span>535220003</span>
            </div>
            <div>
              <img src="img/PUSPA.jpg" />
              <h6>Puspa indah</h6>
              <span>535220035</span>
            </div>
          <div>
            <img src="img/KHANSA.jpg" />
            <h6>Khansa maritza</h6>
            <span>535220241</span>
        </div>
          </div>
        </div>
      </section>
      
      <footer id="contact">
        <div class="layar-dalam">
          <div class="info">
            <h5><ion-icon name="information-circle-sharp"></ion-icon> Info</h5>
            <p>
              Halo! Kami dari Universitas Tarumanagara, khususnya dari Fakultas Teknologi Informasi, dengan jurusan Teknik Informatika.
            </p>
          </div>
          <div class="contact">
            <h5><ion-icon name="chatbubble-ellipses-sharp"></ion-icon> Contact</h5>
            <ul>
              <li><a href="mailto:nafisya.535220003@stu.untar.ac.id">Nafisya Seva NV</a></li>
              <li><a href="mailto:puspa.535220035@stu.untar.ac.id">Puspa Indah</a></li>
              <li><a href="mailto:khansa.535220241@stu.untar.ac.id">Khansa Maritza Ar-Rahmah</a></li>
              <li><a href="mailto:aliyah.535220243@stu.untar.ac.id">Aliyah Zahrah</a></li>
            </ul>
          </div>
          <div class="help">
            <h5><ion-icon name="help-circle-sharp"></ion-icon> Help</h5>
            <p>Ada pertanyaan atau butuh bantuan lebih lanjut? Kami siap membantu! Jangan ragu untuk menghubungi tim kami untuk informasi tambahan seputar blog wisata Indonesia di TravelPedia.</p>
          </div>
          <div class="sitemap">
            <h5><ion-icon name="navigate-circle-sharp"></ion-icon> Sitemap</h5>
            <p><a href="https://g.co/kgs/gYh9W5A" target="_blank">Universitas Tarumanagara</a></p>
          </div>          
        </div>
      </footer>      
</div>

<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"
></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>